.DeviceForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: auto;
}

.DisabledButton {
  cursor: not-allowed!important;
  pointer-events: auto!important;
}

.ButtonProgress {
  position: absolute;
}